<div id ='_search_form' style="display: none" class="flex-column justify-content-start align-items-center h-100">
    <div class='d-flex justify-content-between align-items-center w-100 p-4'>
      <div class="input-group btn-group w-100" role="group" aria-label="Search">
        <%= text_field_tag 'dataset_free_text', session[:d_settings][:free_text] || '', {:class => "form-control me-1 p-2", :placeholder => "Search"} %>
        <button id='dataset_search-btn' type="button" class="btn btn-primary text-white">Search</button>
      </div>
    </div>

    <h4><b class="mb-2">Filters</b><h4>

    <div id='filter_fields_container' class="d-flex flex-column justify-content-around align-items-center p-2">
    <% @fields.each do |field_name, h_field| %>
      <% if !@fields_without_autocomplete_filter.include? field_name %>
      <div class="d-flex flex-column">
          <%= text_field_tag "filter_" + field_name.to_s, '', {:size => 30, :class => "filter_field form-control p-3 my-1", :placeholder => h_field[:label].to_s} %>
      </div>
      <% end %>
    <% end %>
    </div>
</div>
