<div class="container mx-auto px-4 mt-8">
  <div class="flex">
      <div class="w-1/4 pr-6">
      <%= form_with(
              url: datasets_path, 
              method: :get,
              data: { turbo_stream: true, turbo_action: "advance" },
              class: "space-y-6",
              id: :search_form
          ) do |form| %>
      
      <div class="search-box">
          <%= form.search_field :search, 
              class: "w-full rounded-md border-gray-300",
              placeholder: "Search datasets...",
              oninput: "this.form.requestSubmit()",
              data: { turbo_permanent: true } %>
      </div>
      <% end %>

      <%= render "filters", form: :search_form %>
  </div>

  <div class="w-3/4">
    <%= render "datasets", search: @search, datasets: @datasets %>
  </div>
</div>
