<%= render :partial => 'search_form' %>

<div id='datasets_container'>
</div>

<%= javascript_tag do %>

function set_filter_autocomplete(h_list_values){
 let fields = Object.keys(h_list_values)
 for (var i=0; i<fields.length; i++){

 $("#filter_" + fields[i]).autocomplete({
  minLength: 0,
  appendTo: "#filter" + fields[i] + "autocomplete_container",
  classes: {
   "ui-autocomplete": "test_ui",
  },
  html: true,
  position: {
   offset: '0 0' // Shift 0px left, 4px down.
  },
  source: Object.keys(h_list_values[fields[i]]),
  select: function( event, ui ) {
   console.log(ui.item)
  }
 }).focus(function () {
    $(this).autocomplete("search");
 }).click(function(){
    $(this).autocomplete("search");
 });
				       
 }
}

function do_search(){

/*var h_filters = {
}
$(".filter_fields").each(function(){
 h_filters[this.id] = $(this).val()
})
*/
var data = [
{name : 'q', value : $("#dataset_free_text").val()}
//{name : 'filters', value : JSON.stringify(h_filters)}
]
refresh_post("datasets_container", "<%= search_datasets_path() %>", data, 'post', {loading:'fa-2x'})
}


$("#dataset_search-btn").click(function(){
do_search()
})

do_search()

<% end %>
