<div class='float-right'><%= link_to 'New Dataset', new_dataset_path %></div>

<div id='search_container' class=''></div>

<%= javascript_tag do %>

$(document).ready(function(){

refresh("search_container", "<%= search2_datasets_path(:nolayout => 1) %>", {loading:'fa-2x'})

})

<% end %>
