docker-compose.yaml

data
postgres-data
*.sql.gz
src/tmp/*
src/log/*
!src/log/.keep
!src/tmp/.keep
src/vendor/bundle
src/public/assets/*

.env.dev
.env.prod

*~
*#
*.old
*.old.*
*.bkp
*.bkp.*
*.bak
*.bak.*

# Ignore Byebug command history file.
#.byebug_history


