<main class="container mx-auto px-4 py-8">
  <h2 class="text-3xl font-bold text-center mb-12">
    About
  </h2>
  <div class="space-y-12 max-w-4xl mx-auto">
    <div>
      <h3 class="text-2xl font-bold mb-4">What is FAIR</h3>
      <p class="text-gray-700">
        The FAIR principles, 
        <%= link_to 'introduced in 2016', 'https://www.nature.com/articles/sdata201618', class: "text-red-500 hover:text-red-600" %>, 
        provide a set of recommendations for effective data management practices with the goal of ensuring data is Findable, Accessible, Interoperable, and Reusable (FAIR). Embracing these principles in your research data can enhance data sharing and collaboration, amplify research visibility, potentially result in increased citations, and enhance the transparency, reliability, and reproducibility of your research.
      </p>
    </div>
    <div>
      <h3 class="text-2xl font-bold mb-4">Team</h3>
      <ul class="list-disc pl-5 space-y-2 text-gray-700">
        <li>Frédéric Bastian (Bgee)</li>
        <li>Sara Carsanaro (Bgee)</li>
        <li>Fabrice David (ASAP)</li>
        <li>Bart Deplancke (ASAP)</li>
        <li>Vincent Gardeux (ASAP)</li>
        <li>Damien Goutte-Gattat (Flybase)</li>
        <li>Jason Hilton (CELLxGENE)</li>
        <li>Anne Niknejad (Bgee)</li>
        <li>David Osumi-Sutherland (Gene Ontology, Flybase)</li>
        <li>Marc Robinson-Rechavi (Bgee)</li>
        <li>Sagane Joye-Dind (Bgee)</li>
        <li>Walid Sabeur (ASAP)</li>
      </ul>
    </div>
  </div>
</main>