<main class="d-flex flex-column justify-content-evenly flex-grow-1 px-5 mx-5">
        <h2 class="align-self-center">
            About
        </h2>
        <div>
            <h3>What is FAIR</h3>
            <p>
                The FAIR principles, <%= link_to 'introduced in 2016', 'https://www.nature.com/articles/sdata201618'%>, provide a set of recommendations for effective data management practices with the goal of ensuring data is Findable, Accessible, Interoperable, and Reusable (FAIR). Embracing these principles in your research data can enhance data sharing and collaboration, amplify research visibility, potentially result in increased citations, and enhance the transparency, reliability, and reproducibility of your research.
            </p>
        </div>
        <div>
            <h3>Team</h3>
        <ul>
            <li>Fr&eacute;d&eacute;ric Bastian (Bgee)</li>
            <li>Sara Carsanaro (Bgee)</li>
            <li>Fabrice David (ASAP)</li>
            <li>Bart Deplancke (ASAP)</li>
            <li>Vincent Gardeux (ASAP)</li>
            <li>Damien Goutte-Gattat (Flybase)</li>
            <li>Jason Hilton (CELLxGENE)</li>
            <li>Anne Niknejad (Bgee)</li>
            <li>David Osumi-Sutherland (Gene Ontology, Flybase)</li>
            <li>Marc Robinson-Rechavi (Bgee)</li>
            <li>Sagane Joye-Dind (Bgee)</li>
            <li>Walid Sabeur (ASAP)</li>
        </ul>
        </div>
</main>