<main class="d-flex flex-column justify-content-evenly flex-grow-1 px-5 mx-5">
        <h2 class="align-self-center">
            Community
        </h2>
        <div>
            <h3>Workshops</h3>
            <p>
                Future workshops:
                March X 2024: Title, Biocuration Conference
                <br></br>
                Past workshops:
                September 11 2023: Standardization of single-cell metadata: an Open Research Data initiative, Basel Computational Biology Conference

            </p>
        </div>
        <div>
            <h3>Papers</h3>
        </div>
</main>