<main class="d-flex flex-column justify-content-evenly flex-grow-1 px-5 mx-5">
        <h2 class="align-self-center">
            Community
        </h2>
        <div>
            <h3>Workshops</h3>
                <p>Future workshops:</p>
                <ul>
                    <li>
                        March 7 2024: “Enabling FAIR access to single-cell RNA-Seq data for reproducible analyses”, International Biocuration Conference, India
                    </li>
                    <li>
                        June 24 2024: “Single cell RNA sequencing data analysis: Requirements for reproducibility and meaningful multi-omics integration“, The Swiss Bioinformatics Summit 
                    </li>
                </ul>
                <p>Past workshops:</p>
                <ul>
                    <li>
                        September 11 2023: “Standardization of single-cell metadata: an Open Research Data initiative”, Basel Computational Biology Conference
                    </li>
                </ul>
        </div>
</main>