<main class="d-flex flex-column justify-content-evenly flex-grow-1 px-5 mx-5">
        <h2 class="align-self-center">
            Contact Us
        </h2>
        <div>
            <h3>General Contact and Support</h3>
            <p>
                For any questions and suggestions related to scFAIR data, tools, standards, and events please contact us at sc-fair@gmail.com. 
            </p>
        </div>
        <div>
            <h3>Collaborate with Us</h3>
            <p>
                We are open to forming partnerships with individuals and resources that share our goal of making single-cell genomics data findable, accessible, interoperable, and reusable. If you wish to partner with us or have questions regarding how to make your data more FAIR, please contact us at sc-fair@gmail.com.
            </p>
        </div>
</main>