<main class="d-flex flex-column justify-content-evenly flex-grow-1 px-5 mx-5">
        <h2 class="align-self-center">
            scFAIR metadata schema
        </h2>
        <p>
            We use the CELLxGENE metadata schema due to its inclusion of necessary metadata, use of controlled vocabularies, and flexibility. The full schema (v.5.1.0) can be found <%# link_to 'in this github repo', "https://github.com/chanzuckerberg/single-cell-curation/blob/2c53d2b77a9b76c14955484ae5f378515fe5e72f/schema/4.0.0/schema.md"%><%= link_to 'in this github repo', "https://github.com/dosumis/single-cell-curation/blob/broadening-species-specificity/schema/5.1.0-broad/schema.md" %>.
        </p>
</main>
