<h1 class="display-4">Team</h1>


<ul>
<li>Fr&eacute;d&eacute;ric Bastian (Bgee)</li>
<li>Marc Robinson-Rechavi (Bgee)</li>
<li>Vincent Gardeux (ASAP)</li>
<li>Bart Deplancke (ASAP)</li>
<li>Fabrice David (ASAP)</li>
<li>Walid Sabeur (ASAP)</li>
<li>Sara Carsanaro (Bgee)</li>
<li>Anne Niknejad (UNIL biocuration)</li>
<li>Damien Goutte-Gattat (Flybase)</li<
<li>Jason Hilton (CELLxGENE)</li>
<li>David Osumi-Sutherland (Gene Ontology, Flybase)</li>
</ul>
