<h1 class="display-4">Team</h1>


<ul>
  <li>Fr&eacute;d&eacute;ric Bastian (Bgee)</li>
  <li>Sara Carsanaro (Bgee)</li>
  <li>Fabrice David (ASAP)</li>
  <li>Bart Deplancke (ASAP)</li>
  <li>Vincent Gardeux (ASAP)</li>
  <li>Damien Goutte-Gattat (Flybase)</li>
  <li>Jason Hilton (CELLxGENE)</li>
  <li>Anne Niknejad (Bgee)</li>
  <li>David Osumi-Sutherland (Gene Ontology, Flybase)</li>
  <li>Marc Robinson-Rechavi (Bgee)</li>
  <li>Walid Sabeur (ASAP)</li>
</ul>
