<main class="d-flex flex-column justify-content-evenly flex-grow-1 px-5 mx-5">
        <h2 class="align-self-center">
            There exist many tools that can help capture, store, access, and share single-cell data in a FAIR way.
        </h2>
        <div>
            <h3>Cell Type Annotation</h3>
            <p>
                Cell Annotation Schema (CAS) (with link) and cas-tools (with link): 
                The Cell Annotation Schema is a general, open-standard schema for cell annotations and related metadata. 
                CAS provides a programmatically accessible standard designed that allows users to record additional metadata about individual cell type annotations, including marker genes used as evidence and details of automated annotation transfer. The standard is represented as JSON schema as this allows all metadata to be gathered in a single, compact validatable file - which includes a link to a cell by gene matrix file of annotated data. However, the schema is designed so that it can be decomposed into individual tables suitable for use in dataframes/TSVs and flattened onto obs in AnnData format.
                CAS-Tools is a comprehensive utility package designed to facilitate the effective use and manipulation of the Cell Annotation Schema (CAS) in single-cell transcriptomics data analysis.
            </p>
        </div>
        <div>
            <h3>Annotation File Validators</h3>
            <p>
                CELLxGENE schema validator (with link): 
                CELLxGENE curation tools includes a schema validator that can validate single-cell annotation h5ad files in accordance with the CELLxGENE metadata schema. The <code>cellxgene-schema validate</code> command checks an annotation file and will print validation failure messages or a validation success message.
            </p>
        </div>
</main>