<h1>Editing ext source</h1>

<%= render "form", ext_source: @ext_source %>

<br>

<div>
  <%= link_to "Show this ext source", @ext_source %> |
  <%= link_to "Back to ext sources", ext_sources_path %>
</div>
