<div id="main_footer" class='row' style='margin:0'>
  <div class='col-4' style='padding:10px'>
    <a href="mailto:bioinfo.epfl@gmail.com?subject=ScFAIR feedback">Feedback</a> |
    <a href="https://www.sib.swiss/privacy-policy">Privacy policy</a>
  </div>
  <div class='col-4' style='text-align:center;padding:10px'>
    &copy;<%= Time.now.year %> SIB, 1015 Lausanne<br>
  </div>
  <div class='col-4' style='text-align:right;padding:10px'>
    <%= link_to image_tag("sib_logo.svg", :height => '50px'), "https://sib.swiss" %>
  </div>

</div>
