<footer class='row px-5 py-4'>
    <div class='col-4 d-flex justify-content-start align-items-center'>
      <p>
        <a href="mailto:bioinfo.epfl@gmail.com?subject=ScFAIR feedback">Feedback</a>
        |
        <a href="https://www.epfl.ch/about/presidency/presidents-team/legal-affairs/epfl-privacy-policy/">Privacy policy</a>
      </p>
    </div>
    <div class='col-4 d-flex justify-content-center align-items-center'>
      &copy;<%= Time.now.year %> SIB, 1015 Lausanne<br>
    </div>
    <div class='col-4 d-flex justify-content-end align-items-center'>
      <%= link_to image_tag("sib_logo.svg", height: 35), "https://sib.swiss" %>
    </div>
</footer>
