<p style="color: green"><%= notice %></p>

<h1>Studies</h1>

<div id="studies">
  <% @studies.each do |study| %>
    <%= render study %>
    <p>
      <%= link_to "Show this study", study %>
    </p>
  <% end %>
</div>

<%= link_to "New study", new_study_path %>
